table .image{
    height: 73px;
    display: block;
}
.img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
table strong{
    min-width: 100px;
    display: inline-block;
}
.table > thead >tr >th,
.table > tbody >tr >th,
.table > tfoot >tr >th,
.table > thead >tr >td,
.table > tbody >tr >td,
.table > tfoot >tr >td {
    vertical-align: middle;
}

table>tbody>tr>td .edit{
    margin-right: 5px;
}

.active-bg{
    background: rgb(243, 243, 139) !important;
}
.checkBoxItem{
    width: 15px;
    height: 15px;
}


